.no-resize {
  resize: none;
}

.custom-height {
  height: 280px;
}

.scroll-box {
  overflow-y: auto;
}

body {
  position: relative;
}

.child {
  position: absolute;
  bottom: -16px;
  right: 12px;
  z-index: 9999;
}

.mode-blue {
  background-color: #007bff;
}

.mode-green {
  background-color: #28a745;
}
