.no-resize {
  resize: none;
}

.custom-height {
  height: 280px;
}

.scroll-box {
  overflow-y: auto;
}

.parent {
  position: relative; /* makes child absolute relative to this */
}

.child {
  position: absolute;
  bottom: -80px; /* moves element 80px below parent's bottom */
  right: 0;
}
